[submodule "lib/vendor/symfony"]
	path = lib/vendor/symfony
	url = git://github.com/vjousse/symfony-1.4.git
[submodule "lib/vendor/magento"]
	path = lib/vendor/magento
	url = git://github.com/magentomirror/magento-mirror.git
[submodule "plugins/ioPagePlugin"]
	path = plugins/ioPagePlugin
	url = git://github.com/iostudio/ioPagePlugin.git
[submodule "plugins/ioMenuPlugin"]
	path = plugins/ioMenuPlugin
	url = git://github.com/weaverryan/ioMenuPlugin.git
[submodule "plugins/sfDoctrineGuardPlugin"]
	path = plugins/sfDoctrineGuardPlugin
	url = git://github.com/annismckenzie/sfDoctrineGuardPlugin.git
[submodule "plugins/ioEditableContentPlugin"]
	path = plugins/ioEditableContentPlugin
	url = git://github.com/weaverryan/ioEditableContentPlugin.git
